*{
    font-family: Arial, Helvetica, sans-serif;
    background: #61c8d0;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: aliceblue;
}

.box{
    text-align: center;
    height: 100px;
    width: 400px;
    background: black;
    color: aliceblue;
    font-size: 3em;
    padding: 2%;
    margin: 30px;
    transition: 300ms;
}

.box:hover{
    background: radial-gradient(purple, black);
    box-shadow: #000;
    border-radius: 50px;
}

.block-ele{
    height: 80px;
    width: auto;
    background: green;
    display: block;
}

.block-ele div{
    color: pink;
    background: #000;
}

ul li{
    display: inline;
    padding: 3%;
    color: wheat;
}

